<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блог</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light border">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index","Article")">
                <img src="~/Content/Blog.png" width="35" height="35" class="d-inline-block align-top" alt="Блог">
                Блог
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenu, #navas">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <main class="container w-80 ">
        <div class="row">
            <div id="navas" class="col-12 order-lg-1 col-lg-4 justify-content-around pt-1 d-lg-block">
                <nav class="navbar border navbar-expand-lg navbar-light bg-light rounded">
                    <div class="navbar-collapse" id="navMenu">
                        <ul class="navbar-nav col flex-column">
                            <li class=" nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Article")">
                                    Главная
                                </a>
                            </li>
                            <li class=" nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Guest")">
                                    Гостевая
                                </a>
                            </li>
                            <li class=" nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Profile")">
                                    Анкета
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            @RenderBody()

        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sokurenko Nikita</p>
            <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button">Top</a>
        </footer>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/main.js")
</body>
</html>
